.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
}

.cards img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    max-width: 23vw;
}

.main-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    background-image: url('haringbackground.jpg');
}

.text-container {
    text-align: center;
}

.h1 {
    border-style: solid;
    border-color: red;
    padding: 2pc;
    font-family: 'Permanent Marker', cursive;
    background-color: red;
    color: white;
}

.h2 {
    border-style: double;
    border-color: yellow;
    padding: 2pc;
    background-color: yellow;
    color: black;
}

a.button1 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    font-weight: 300;
    color: black;
    background-color: yellow;
    text-align: center;
}

a.button1:hover {
    border-color: white;
    color: white;
    background-color: red;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
}

@keyframes bouncy {
    0% {
        top: 0em
    }
    40% {
        top: 0em
    }
    43% {
        top: -0.9em
    }
    46% {
        top: 0em
    }
    48% {
        top: -0.4em
    }
    50% {
        top: 0em
    }
    100% {
        top: 0em;
    }
}