* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* Style the header */

.header {
    background-image: url("logopatterntest.png");
    padding: 20px;
    text-align: left;
}


/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: pink;
    text-align: center;
}


/* Style the topnav links */

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}


/* Change color on hover */

.topnav a:hover {
    background-color: black;
    color: white;
}

.flex-container {
    display: flex;
    height: 800px;
    background-color: pink;
}

.flex-container>div {
    background-color: pink;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    padding: 10px;
}

.flex-container1 {
    display: flex;
    height: 700px;
    background-color: pink;
}

.flex-container1>div {
    background-color: pink;
    width: 50%;
    margin: 10px;
    text-align: right;
    line-height: 75px;
    padding: 10px;
}

.importanttextstyling {
    font-family: 'Londrina Outline', cursive;
    font-size: 110px;
    color: white;
    align-content: center;
}

.importanttextstyling2 {
    font-family: 'Londrina Outline', cursive;
    font-size: 75px;
    color: black;
}

.importanttextstyling3 {
    font-family: 'Londrina Outline', cursive;
    font-size: 90px;
    color: white;
    align-content: center;
}

.importanttextstyling4 {
    font-family: 'Londrina Outline', cursive;
    font-size: 315px;
    color: white;
    align-content: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.importanttextstyling5 {
    font-family: 'Londrina Outline', cursive;
    font-size: 60px;
    color: black;
    align-content: center;
}


}
.crazybackground {
    background-image: url("2020collage.png");
    height: 400px;
    width: 300px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 0px;
    align-items: normal;
}
.grid img {
    border: 25px solid pink;
    max-width: 100%;
    margin-top: 50px;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial;
}
.header {
    text-align: center;
    padding: 5px;
    background-color: pink;
}
.row {
    display: -ms-flexbox;
    /* IE10 */
    
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%;
    /* IE10 */
    
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}