.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
}

.grid-container>div {
    background-image: url("pixelizedbackground.png");
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
    grid-row: 1 / 3;
    font-family: 'Monoton', cursive;
    font-size: 100pc;
    color: yellow;
}

.item2 {
    font-family: 'Creepster', cursive;
    font-size: 50px;
    color: white;
}

.item3 {
    font-family: 'Creepster', cursive;
    font-size: 50px;
    color: white;
}

.item4 {
    font-family: 'Barrio', cursive;
    color: red;
}

.item5 {
    font-family: 'Monoton', cursive;
}

.gallery__img {
    max-width: auto;
    max-height: 600px;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-image: url("cherrypattern2.png");
    font-family: 'Press Start 2P', cursive;
}

.flex-container>div {
    background-image: url("cherrypattern2.png");
    margin: 10px;
    padding: 20px;
    font-size: 50px;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}